@import 'tailwindcss';

@layer base {
  :root {
    --bg: theme(colors.slate.50);
    --fg: theme(colors.slate.900);
  }

  .dark {
    --bg: theme(colors.slate.900);
    --fg: theme(colors.slate.50);
  }

  html, body {
    background-color: var(--bg);
    color: var(--fg);
  }
}

@layer components {
  .dropdown {
    background-color: var(--bg);
    color: var(--fg);
  }
}

.defaultBorder {
  @apply rounded-lg;
  @apply border-blue-500;
  @apply border-2;
  @apply p-2;
}

html, body {
  @apply min-w-fit;
  @apply text-base;
}

button {
  @apply cursor-pointer;
}
