@import 'tailwindcss';

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-fg: var(--color-fg);
  --color-bg: var(--color-bg);
}

@layer base {
  :root {
    --color-bg: theme(colors.slate.100);
    --color-fg: theme(colors.slate.900);
    /*
    --color-primary: theme(colors.blue.500);
* */
    --color-primary: theme(colors.slate.900);
    --color-secondary: theme(colors.slate.300);
  }

  .dark {
    --color-bg: theme(colors.slate.900);
    --color-fg: theme(colors.slate.100);
    /*
    --color-primary: theme(colors.blue.500);
* */
    --color-primary: theme(colors.slate.100);
    --color-secondary: theme(colors.slate.700);
  }

  html, body {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}

@layer components {
  .dropdown {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}

.defaultBorder {
  @apply rounded-lg;
  @apply border-primary;
  @apply border-2;
  @apply p-2;
}

html, body {
  @apply min-w-fit;
  @apply text-base;
}

button {
  @apply cursor-pointer;
}
