@import 'tailwindcss';

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-fg: var(--color-fg);
  --color-bg: var(--color-bg);
  --color-muted: var(--color-muted);
}

@layer base {
  :root {
    --color-bg: theme(colors.slate.100);
    --color-fg: theme(colors.slate.900);
    /*
    --color-primary: theme(colors.blue.500);
* */
    --color-primary: theme(colors.slate.900);
    --color-secondary: theme(colors.slate.300);
    --color-muted: theme(colors.slate.500);
  }

  .dark {
    --color-bg: theme(colors.slate.900);
    --color-fg: theme(colors.slate.100);
    /*
    --color-primary: theme(colors.blue.500);
* */
    --color-primary: theme(colors.slate.100);
    --color-secondary: theme(colors.slate.700);
    --color-muted: theme(colors.slate.500);
  }

  html, body {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer components {
  /* // FIX ME delete this, replace all existing instances with bg-bg text-fg */
  .dropdown {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}

/* // FIX ME try to make a class called 'border' that will do this */
.defaultBorder {
  @apply rounded-lg;
  @apply border-primary;
  @apply border-2;
  @apply p-2;
}

html, body {
  @apply min-w-fit;
  @apply text-base;
}

/* // FIX ME delete this, make Button component with the usual classes */
button {
  @apply cursor-pointer;
}

*::-webkit-scrollbar {
  @apply w-2;
  @apply h-2;
}

*::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  @apply rounded-full;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

input::placeholder {
  @apply text-muted;
}

/*
// FIX ME consider using fancy custom outline
* */
:focus-visible {
  @apply outline-none;
  @apply ring-2;
  @apply ring-primary;
  @apply ring-offset-2;
  @apply ring-offset-bg;
  @apply rounded-lg;
  @apply transition-all;
  @apply duration-300;
}
